# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/

# =========================
# IDE Files
# =========================
.idea/
.vscode/

# =========================
# Jupyter Notebook Checkpoints
# =========================
.ipynb_checkpoints/

# =========================
# Large Dataset Folder
# =========================
aclImdb/

# =========================
# Trained Model Folder (Large Files)
# =========================
imdb_bert_model/

# =========================
# PyTorch Model Files
# =========================
*.pt
*.pth
*.bin

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Variables
# =========================
.env